.App {
  text-align: center;

}

/* src/index.css */

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

input, textarea, select, button {
  font-size: 16px !important; /* Vähemalt 16px, et vältida iOS automaatset suumimist */
  max-height: 100%;
  touch-action: manipulation; /* Täiendav abi suumimise vältimiseks */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Vajalik PWA-s, et sisuelement oleks täisekraanil */
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* See aitab Safari brauseris kummitusklikkidega */
* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  height: 100%;
  margin: 0;
  padding: 0;
}
